.array-input table {
	margin-bottom: 5px;
}
.array-input tr {
	border-bottom: 1px solid #ddd;
}
.array-input td:first-child {
	padding-left: 0;
}
.array-input td:last-child {
	vertical-align: middle;
}
